@model src.Areas.Brics.Controllers.FooViewModel

<div class="settings-view-header">

    <h4>Edit</h4>

    <button data-type="btn-toggle">[</button> <button data-type="btn-close">Close</button>

    <form method="post" action="/api/foo" id="page-form" style="margin-top: 20px;" data-module="editor">
        <div>
            <div>
                @Html.Label("Model." + Model.PropertyName)
            </div>
            <div>
                @Html.Editor("Model." + Model.PropertyName)
            </div>
            <input type="hidden" name="ContentType" value="@Model.Model.GetType().AssemblyQualifiedName" />
            <input type="hidden" name="Id" value="@ViewBag.Id" />              
        </div>
    </form>
</div>