@{
//ViewData["Title"] = "About";
}
@model About
<h2 asp-module="Title">@ViewData["Title"].</h2>
<h3 asp-module="Message">@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h1 asp-module="Heading">
    @Html.DisplayFor(x => x.Heading)
</h1>