@model System.Collections.Generic.List<Page>

<ul class="nav navbar-nav">
    @foreach (var p in Model)
    {    
        <li>            
            <a asp-action="Index" asp-route-id="@p.Id">@p.Name</a>
        </li>
    }
</ul>