@using Microsoft.AspNet.Http.Features
@using Microsoft.AspNet.Localization
@model IEnumerable<KeyValuePair<string, src.Routing.Trie.TrieNode>>

@{
    var requestCultureFeature = Context.Features.Get<IRequestCultureFeature>();
}

<ul class="nav navbar-nav">
    @foreach (var node in Model) {
        <li><a asp-action="Index" asp-route-id="@(node.Value.PageId)" asp-route-foo="bar">@node.Value.Name</a></li>        
    }
</ul>