@*@model IEnumerable<KeyValuePair<string, src.Routing.Trie.TrieNode>>*@
@model IEnumerable<Page>

<ul class="nav navbar-nav">
    @foreach (var page in Model)
    {
        <li>
            <a asp-action="Index" asp-route-id="@(page.Id)">@page.Name</a>
        </li>
    }
</ul>

@*<ul class="nav navbar-nav">
    @foreach (var node in Model) {
        <li>
            <a asp-action="Index" asp-route-id="@(node.Value.PageId)">@node.Value.Name</a>
        </li>        
    }
</ul>*@