@using src;
@model IEnumerable<Page>

<ul class="nav navbar-nav">
    @foreach (var page in Model)
    {
        <li>
            <a asp-action="Index" asp-route-id="@(page.Id)">@page.Name</a>
        </li>
    }
</ul>