<nav class="brics-nav" data-module="nav">

    @*<header class="brics-nav-header">
        <h2>
            Brics
        </h2>
    </header>*@

    <section class="nav-body">
    </section>

    <footer class="brics-nav-footer">
        <button data-type="btn-toggle">[</button>
    </footer>

</nav>

<main class="brics-main">

    <section class="brics-view">

        @*<header class="main-header">

            <h2 class="view-title">
                <input type="text" value="Render ContentArea items with, ehm... spacing"/>
            </h2>

            <section class="view-actions" data-module="actions">
                <button data-type="btn-open">Settings</button>&nbsp;<button data-type="btn-save">Save</button>
            </section>

        </header>

        <section class="iframe-container" style="display: flex; flex-grow: 1" data-module="iframe"></section>*@

        @*<iframe src="/" style="display: flex; flex-grow: 1; border: 0;" onload="onLoadHandler(this);" data-module="iframe"></iframe>*@

        <header class="main-header">
            <h2 class="view-title">
                <input type="text" value="Render ContentArea items with, ehm... spacing"/>
            </h2>
            <section class="view-actions" data-module="actions">
                <button data-type="btn-open">Settings</button>&nbsp;<button data-type="btn-save">Save</button>
            </section>
        </header>
        <section class="view-editor">
            @*<section class="entry-markdown">
                # markdown
            </section>*@
            <section class="entry-preview">
                <section class="iframe-container" style="display: flex; flex-grow: 1" data-module="iframe"></section>
            </section>
            <aside class="settings-view" data-module="settings"></aside>
        </section>

    </section>

</main>


